
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
--Primary-color:oklch(21% 0.034 264.665);
--text-color:#afa89d;
--text-color-p:#b1aaa0;
--size-text:20px;
--color-text-blue:#2A8ffc;

}
html{
    font-family: inter sans-serif;
    font-size: 16px;
}
body{
    background-color: black;
}
.size-b{
    width: 50px;
    height: 25px;
}
.size-text{
    font-size: var(--size-text  );
}
.text-color-blue{
    color: var(--color-text-blue);
}
.text-color-p{
    color: var(--text-color-p);
}
.bg-gray-900{
background-color: var(--Primary-color);
width: 100%;
height: 850px;
position: relative;
}
.continar{
    max-width: 1400px;
    padding: 40px 170px;
    margin: 0 auto;
}
header .logo h2{
    display: inline-block;
}
header{
    display: flex;
    justify-content: space-between;
}
.nav-link ul{
    display: flex;
}
.nav-link ul li{
    list-style-type: none;
margin: 0 15px;
}
.nav-link ul li a{
    text-decoration: none;
    color: gray;
}
.nav-link ul li a:hover{
 color: white; 
}
 /*  */
 .hero-content{
    height: 200px;
    /* background-color: aquamarine; */
    padding-top: 64px;
    width: 50%;
    margin: 0 auto;
 }
 .hero-content h2{
    font-size: 3rem;
    color: white;
    text-align: center;
 }
 .hero-content p{
    font-size: 1.5rem;
    color: var(--text-color);
    /* line-height: 1rem; */
    text-align: center;
 }
 .hero-content button{
    text-align: center;
    margin: 0 auto;
 }
 .hero-content .buttons {
   display: flex;
   justify-content: center;
   gap: 4;
   margin-top: 20px;
 }
 .imges{
    height: 10rem;
 }
 .imges img{  
    width: 666px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:10px solid black;
    border-radius: 8px;
    border-bottom: 0    ;
 }
 article{
     background-color:black;
padding: 94px 16px;
 } 
 .color_text_white{
color: white;
 }
 .center{
    text-align: center;
 }
 .font_size{
    font-size: 2rem;
    font-weight: 800;
 }
 .icon{
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin: 1rem auto;
 }
 .abso{
    position: absolute;
    top: 12px;
 }
.tools{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.margin_bottom{
margin-bottom: 64px;
}
.tool p{
    line-height: 1.5;
    margin-top: 1rem;
}
.section-cards{
    background-color: #193380;
width: 100%;
height: auto;
position: relative;
transform: skewY(1deg);
}
.section-cards .cards{
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0px;
transform: skewY(-1deg);

} 
.card{
    width: 500px;
    /* height: 300px; */
    padding: 2.5rem ;
    background-color: #1648b2;
    border-radius: 1rem;
}
.cards .card svg{
    color: rgb(126 197 255) ;
}
.cards .card p{
    margin: 1rem 0px;
    color: #ABCFF4;
}
/*  */
.cards-pay{
    width: 100%;
    height: 150%;
    margin: 2rem 0px;
}
.card-pay{
    width: 50%;
    height: auto;
    background-color: blueviolet;
    padding: 25px;
    
}
.card-pay span{
    font-size: 1.5rem;
}
.card-pay-button{
    width: 100%;
    background-color: rgb(21, 18, 24);
    margin: 50px auto;}

.card-pay-button button{
    font-size: 1rem;
    padding: 10px 161px;
    border: 2px solid;
    border-radius: 5rem;
    margin: 7px 16px;
    margin-right: 10px;
}